<div class="row">
    <div class="col-lg-6">
        <app-largenews [data]="news[0]" ></app-largenews>
        <app-smallnews [items2]="news"></app-smallnews>
    </div>
    <div class="col-lg-6">
        <app-largenews [data]="events[0]" [title]="title1"></app-largenews>
        <app-smallnews [items2]="events"></app-smallnews>
    </div>
    <div class="col-lg-6">
        <app-largenews [data]="news[0]" [title]="title2"></app-largenews>
        <app-smallnews [items2]="news"></app-smallnews>
    </div>
    <div class="col-lg-6">
        <app-largenews [data]="events[0]" [title]="title3"></app-largenews>
        <app-smallnews [items2]="events"></app-smallnews>
    </div>
    <!-- <div class="col-lg-6">
        <app-largenews></app-largenews>
        <app-smallnews [items2]="items2"></app-smallnews>
    </div>
    <div class="col-lg-6">
        <app-largenews></app-largenews>
        <app-smallnews [items2]="items2"></app-smallnews>
    </div> -->
</div>