
    <!-- ---------------------------------------------------------First CT Row--------------------------------------------------------- -->
    <app-first [items]="sliderTop" [selectedImage]="selectedImage" (getCurrentImage)="handleGetCurrentImage($event)"></app-first>
    <!-- ---------------------------------------------------------Second CT Row--------------------------------------------------------- -->
    <app-second [sliderMaxFive]="sliderMaxFive" [maxSlider]="5"></app-second>
    <!-- ---------------------------------------------------------Third CT Row--------------------------------------------------------- -->
    <app-third [news]="news" [events]="events"></app-third>